@import "mocha.css";

* {
  font-family: ProFontIIx Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 5px 5px 5px;
  background-color: @surface0;
  margin-left: 0rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-media,
#cava,
#memory,
#cpu,
#custom-arch,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#custom-media{
  color: @flamingo;
  margin: 5px 5px 5px 150px;
  border-radius: 1rem;
}

#cava {
    margin: 5px 15px 5px 5px; 
    color: @teal;
    border-radius: 1rem;
}


#memory{
    margin: 5px 5px 5px 10px;
    border-radius: 1rem;
    color: @mauve;
}

#cpu{
    margin: 5px 0px 5px 50px;
    border-radius: 1rem;
    padding-right: 10px;
    padding-left: 15px;
    color: @peach;
}

#custom-arch{
    margin: 5px 5px 5px 5px;
    border-radius: 1rem;
    font-size: 25px;
    padding-right: 18px;
    padding-left: 15px;
    color: @sapphire; 
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0rem;
}

#custom-music {
  color: @flamingo;
  margin: 5px 5px 5px 5px;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
